.backdrop {
    position: fixed;
    top:0;
    left: 0;
    bottom: 400pt;
    right: 300pt;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
}

.modal {
    background-color: #fff;
    border-radius: 20pt;
    border-color: black;
    border-style: solid;
    margin: 0 auto;
    top: 30vh;
    /*right: 0vw;*/
    height: 20vh;
    width: 70vw;
    padding: 5pt;
    position: relative;
}

.enter_description {
    width: 65%;
}
.text {
    /*margin: 10px 10px 10px 15px;*/
    margin-top: 5px;
    margin-bottom: 15px;
    border: 3px solid #A4E0EB;
    border-radius: 20px;
    padding: 3px;
    background: #A4E0EB;
}

.alert-buttons {
    margin-left: 20px;
}
.alert-button {
    margin-right: 10px;
    background: #DEAFA6;
    color: black;
    border-radius:20px;
    text-shadow:none;
}

.select {
    border: 2px solid #DEAFA6;
    background: white;
    border-radius:20px;
    align-items: center;
}