.button {
  background: lightblue;
  color: black;
  border-radius:20px;
  text-shadow:none;
}

.todo {
  border: 2px solid;
  background-color: antiquewhite;
}

.backdrop {
  position: fixed;
  top:0;
  left: 0;
  bottom: 400pt;
  right: 300pt;
  width: 300pt;
  height: 400pt;
  background-color: rgba(0, 0, 0, .3);
}

.modal {
  background-color: #fff;
  border-radius: 5pt  ;
  border-color: black;
  border-style: solid;
  margin: 0 auto;
  top: 50pt;
  height: 100pt;
  width: 200pt;
  padding: 10pt;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
